[Unit]
Description=RabbitMQ CakePHP Console Application
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
User=www-data
Type=forking
ExecStart=/opt/cakephp-rabbitmq/start-cakephp-rabbitmq.sh
ExecStop=/opt/cakephp-rabbitmq/stop-cakephp-rabbitmq.sh
#TimeoutSec=30
Restart=on-failure
RestartSec=30
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
