@include extjs-tab-panel-ui(
    $ui: 'navigation',
    $ui-tab-background-color: transparent,
    $ui-tab-background-color-over: #dbe3f9,
    $ui-tab-background-color-active: #8c8c8c,
    $ui-tab-background-gradient: 'none',
    $ui-tab-background-gradient-over: 'none',
    $ui-tab-background-gradient-active: 'none',
    $ui-tab-color: #acacac,
    $ui-tab-color-over: #c4c4c4,
    $ui-tab-color-active: #fff,
    $ui-tab-glyph-color: #acacac,
    $ui-tab-glyph-color-over: #c4c4c4,
    $ui-tab-glyph-color-active: #fff,
    $ui-tab-glyph-opacity: 1,
    $ui-tab-border-radius: 0,
    $ui-tab-border-color: transparent,
    $ui-tab-border-color-over: transparent,
    $ui-tab-border-width: 0px,
    $ui-tab-inner-border-width: 0,
    $ui-tab-padding: 10px,
    $ui-tab-margin: 0,
    $ui-tab-font-size: 17px,
    $ui-tab-font-size-over: 17px,
    $ui-tab-font-size-active: 17px,
    $ui-tab-line-height: 17px,
    $ui-tab-font-weight: normal,
    $ui-tab-font-weight-over: normal,
    $ui-tab-font-weight-active: normal,
    $ui-tab-icon-width: 25px,
    $ui-tab-icon-height: 25px,
    $ui-bar-background-color: #323d4d,
    $ui-bar-background-gradient: 'none',
    $ui-bar-padding: 0,
    $ui-strip-height: 0
);

@include extjs-tab-panel-ui(
    $ui: 'toplevel',
    $ui-tab-plain-color-active: #dbe3f9,
    $ui-tab-plain-glyph-color-active: #dbe3f9,
    $ui-tab-plain-color: #606060
);

