.webix_view input, .webix_list_item{ 
    font-size: 20px; 
    line-height:40px;
}

div.webix_item_tab, .webix_item_tab .webix_icon { 
    font-size: 20px; 
}

.imgCarousel .webix_template{
	padding:5px;
}

.imgCarousel img {
    height: 100%;
    width: 100%;
}

.tabSmaller .webix_all_tabs {
    height: 40px !important;
}

.fbError {
    color: red;
    text-transform: uppercase;
}

.fbInfo {
    color: #222211;
    font-style: italic;
}

.webix_view .divClear{
    background-image: none;
	background-color: transparent;
}

.webix_view .scrnHome{
    background: linear-gradient(to bottom, #f0f0f5 0%, #a3a3c2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.webix_view .scrnHelp{
    background: linear-gradient(to bottom, #f0f0f5 0%, #a3a3c2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.webix_view .scrnPhoto{
    background: linear-gradient(to bottom, #f0f0f5 0%, #a3a3c2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.webix_view .scrnAbout {
    background: linear-gradient(to bottom, #f0f0f5 0%, #a3a3c2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.btnConnect .webix_el_htmlbutton { 
    background-color: #006622 !important;
}

.btnConnect .webix_el_htmlbutton:hover {
    background-color: #00802b !important;
} 

/* Dashed button */
.btnDashed {
    border-top: 1px dashed #c3c3a2 !important;
    padding-top: 5px;
}

/* Facebook Button */
.btnFacebook .webix_el_htmlbutton { 
    background-color: #3A5795!important;
    border-color: #152037 !important;
}

.btnFacebook .webix_el_htmlbutton:hover {
    background-color: #6c89c6 !important;
    border-color: #24365c !important;   
} 

/* Twitter Button */
.btnTwitter .webix_el_htmlbutton { 
    background-color: #00aced!important;
    border-color: #00384d !important;
}

.btnTwitter .webix_el_htmlbutton:hover {
    background-color: #4dceff !important;
    border-color: #0082b3 !important;   
} 

/* Google Button */
.btnGoogle .webix_el_htmlbutton { 
    background-color: #dd4b39!important;
    border-color: #832216 !important;
}

.btnGoogle .webix_el_htmlbutton:hover {
    background-color: #e57567 !important;
    border-color: #dd4b39 !important;   
} 

/* Register Button */
.btnRegister .webix_el_htmlbutton { 
    background-color: #00aced!important;
    border-color: #00384d !important;
}

.btnRegister .webix_el_htmlbutton:hover {
    background-color: #4dceff !important;
    border-color: #0082b3 !important;   
} 

/* Lost Password Button */
.btnPassword .webix_el_htmlbutton { 
    background-color: #00aced!important;
    border-color: #00384d !important;
}

.btnPassword .webix_el_htmlbutton:hover {
    background-color: #4dceff !important;
    border-color: #0082b3 !important;   
} 

.checkboxTandC {
    height: 30px !important;
}

.tmplCenter { 
    text-align: center;
}

.powerBy {
 text-align: center;
 background-color: #ffe5f9;
}

.aboutHead {
 text-align: center;
 background-color: #ffe5f9;
}

.aboutHead img{
 padding: 10px;
 width: 200px;
}

.tcText {
    font-size: 14px; 
    height: 40px;
}
