@include treelist-ui(
    $ui: 'nav2',
    $padding: 0 10px,
    $background-color: #ffffff,
    $toolstrip-background-color: #ffffff,
    $tool-selected-color: #ffffff,
    $tool-selected-background-color: #587da9,
    $tool-float-indicator-width: 4px,
    $tool-float-indicator-color: blue,
    $item-expanded-background-color: #2c3845,
    $item-line-height: 44px,
    $item-icon-color: #ADB3B8,
    $item-expander-color: #ADB3B8,
    $item-text-color: #ADB3B8,
    $row-over-background-color: orange,
    $item-icon-over-color: #5c5c5c,
    $item-expander-over-color: #5c5c5c,
    $item-text-over-color: #5c5c5c,
    $row-indicator-width: 6px,
    $row-indicator-selected-color: $base-color,
    $row-indicator-selected-over-color: lighten($base-color, 10%),
    $row-indicator-over-color: lighten($base-color, 10%),
    $item-text-font-size: 17px,
    $item-icon-font-size: 18px,
    $item-icon-width: 25px,
    $item-expander-font-size: 17px,
    $item-expander-width: 24px,
    $row-selected-background-color: #3f505f
);
