
/*  App Loading
--------------- */
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #1861b5;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { transform: scaleY(0.4) }  
  20% { transform: scaleY(1.0) }
}
.loading-indicator {
	color: #1861b5;
	text-align: center;
	font-size: 34px;
    font-stretch: ultra-expanded;
    line-height: 16px;
    font-family: "Open Sans", "Helvetica Neue", helvetica, arial, verdana, sans-serif;
}


/*

.dataview-item {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.dataview-column1, .dataview-column2 {
    flex: 1;
    padding: 10px;
    cursor: pointer;
}

.dataview-column1:hover, .dataview-column2:hover {
    background-color: #f0f0f0;
}

.dataview-column1.selected, .dataview-column2.selected {
    background-color: #d0e5f5;
}
*/

.dataview-columns {
    display: flex;
    flex-wrap: wrap;
}

.dataview-column {
    flex-basis: 50%;
}


.dataview-item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dataview-field {
    margin: 5px 0;
    font-size: 18px;
}

.dataview-field label {
    font-weight: bold;
    margin-right: 5px;
}

.dataview-item:hover {
    background-color: #f9f9f9;
    border-color: #007bff;
}

.dataview-item.selected {
    background-color: #e9f5ff;
    border-color: #007bff;
}


